.container-me {
	background-color: #fff;
	width: 100%;
	float: left;
	padding-top: 4%;
}

.container-me .md-t-me {
	width: 100%;
	float: left;
}

.container-me .md-t-me h3 {
	color: #000;
	text-align: left;
	position: relative;
	top: 9%;
	left: 7%;
}

.md-me {
	background-color: #fff;
	width: 70%;
	float: left;
	padding-left: 7%;
	padding-top: 3%;
	padding-bottom: 3%;
}

@media(max-width: 900px) {
	.md-me {
		width: 100%;
	}
}

.md2-me {
	background-color: #fff	;
	width: 30%;
	float: left;
	text-align: left;
	padding-left: 2%;
	position: absolute;
	left: 68%;
}

@media(max-width: 900px) {
	.md2-me {
		width: 100%;
		float: left;
		position: relative;
		left: 20px;
	}
}

.img-me {
	text-align: left;
	float: left;
	width: 25%;
	height: 25%;
	margin-right: 4%;
}

.text-me {
	text-align: left;
	float: left;
	width: 55%;

}

.text-me .date-me {
	position: relative;
	bottom: 5px;
	font-size: 13px;
}

.text-me h4 {
	color: #000;
	font-size: 18px;
}

.text-me p {
	font-size: 14px;
}

.md2-img-me {
	width: 100%; 
	float: left; 
	text-align: left;
	position: relative;
	right: 20%;
}

.row-me .foto {
	width: 100px; 
	float: left; 
	height: 100px; 
	text-align: left; 
	margin-right: 3%
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}