/*.row {
	border:solid;
	 border-width: 1px;
	 border-color: #f4f4f4;
}*/


.container h3 {
	margin-left: 30px;
	color: #000;
	font-family: "calibri";
	border-bottom: 50%;
}


.images {
	margin-left: 40px;
	margin-bottom: 50px;
	height: 40%;
	width: 130%;
}



.isi h3 {
	margin-left: 90px;
}

.content h6 {
	margin-top: 0px;
	padding-bottom: 0px;
	margin-left: 90px;
	color: green;

}

.content p {
	margin-top: 0px;
	margin-left: 90px;
}

.button a {
	margin-left: 90px;
	background-color: gray;
	color: #000;
}
