.visimisi {
	width: 100%;
	float: left;
	background-color: #fff;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 3%;
	padding-right: 3%;
}

.img_visimisi {
	float: left;
	width: 30%;
	margin-right: 3%;
}

.image_visimisi {
	width: 100%;
}

.visi {
	float: left;
	text-align: justify;
	padding: 0 60px 0 60px;
}

.visi h3 {
	font-family: Cooper Std;
	font-weight: 600;
	font-size: 25px;
	color: #1C1C1C;
	text-align: center;
}

@media(max-width: 900px) {
	.visi h3 p {
		font-size: 10px;
	}
}

@media(max-width: 900px) {
 	.visi h3 {
 		font-size: 20px;
 	}
 }

.misi {
	float: left;
	margin-bottom: 3%;
	text-align: justify;
	padding: 0 60px 0 60px;
}

.misi h3 {
	font-family: Cooper Std;
	font-weight: 600;
	font-size: 25px;
	color: #1C1C1C;
	text-align: center;
}

@media(max-width: 900px) {
 	.misi h3 {
 		font-size: 20px;
 	}
 }